/*@import "compass/reset";*/
/* line 3, ../../scss/scss/styles.scss */
body {
  background-color: #f7f7f7;
}

/* line 7, ../../scss/scss/styles.scss */
#site-header {
  border-top: 3px solid #ED1D24;
  background-color: #FFFFFF;
}
/* line 11, ../../scss/scss/styles.scss */
#site-header #site-logo {
  margin: 10px;
}

/* line 16, ../../scss/scss/styles.scss */
#site-footer {
  font-size: 10px;
  color: gray;
  margin: 10px;
}
